body {
  background: #F5F7FB;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.blob-top {
  position: fixed;
  top: 0px;
  right: 0px;
}

.blob-bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
}